---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = { title: 'CinaGroup — Платформа навыков' };
---
<Layout metadata={metadata}>
  <Hero tagline="Платформа навыков" title={'<span class="text-pink-600 dark:text-pink-400">Платформа навыков</span>'} subtitle="Открытая платформа для создания, публикации и обнаружения роботизированных навыков" actions={[{ variant: 'primary', text: 'Начать бесплатно', href: '/ru/contact', icon: 'tabler:rocket' }]} image={{ src: 'https://images.unsplash.com/photo-1677442136019-21780ecad995?ixlib=rb-4.0.3&auto=format&fit=crop&w=1740&q=80', alt: 'cinaskill' }} />
  <Features tagline="Основные функции" title="Мощные возможности" subtitle="Поддержка успеха вашего бизнеса" items={[{ title: 'Высокая производительность', description: 'Быстрая и надежная обработка', icon: 'tabler:bolt' }, { title: 'Легкая интеграция', description: 'Беспрепятственное подключение к существующим системам', icon: 'tabler:plug-connected' }, { title: 'Поддержка 24/7', description: 'Круглосуточная поддержка', icon: 'tabler:headset' }]} columns={3} />
  <CallToAction tagline="Начать сейчас" title="Готовы начать?" subtitle="14-дневная бесплатная пробная версия" button={{ text: 'Начать бесплатно', href: '/ru/contact', variant: 'primary', icon: 'tabler:rocket' }} />
</Layout>
